@model IEnumerable<MailBox>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mail Box</h1>

</div>
<p>
    <a class="btn btn-primary" asp-controller="MailBoxes" asp-action="Create">Send New Mail</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="card bg-secondary text-white">
    <h4 class="text-center text-white">Some Claims</h4>
    <div class="card-body text-white">
        @if (User.Identity.IsAuthenticated)
        {
            <table class="table table-sm text-white">
                @foreach (var claim in User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>


                    </tr>
                }
            </table>
        }
    </div>
</div>